@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@media (min-width: 0px) {
		--spacing: 16px;
		--padd: 32px;
	}
	@media (min-width: 360px) {
		--spacing: 32px;
		--padd: 48px;
	}
	@media (min-width: 768px) {
		--spacing: 48px;
		--padd: 64px;
	}
	@media (min-width: 1024px) {
		--spacing: 64px;
		--padd: 64px;
	}
	@media (min-width: 1280px) {
		--spacing: 96px;
		--padd: 64px;
	}
	@media (min-width: 1440px) {
		--spacing: 128px;
		--padd: 64px;
	}
	
	--navbar-height: 0;
	--countriesbar-height: 0;
}

@font-face {
	font-family: 'Manrope';
	src: url('../../public/fonts/Manrope-Variable.woff2') format('woff2'),
	url('../../public/fonts/Manrope-Variable.woff') format('woff'),
	url('../../public/fonts/Manrope-Variable.ttf') format('truetype');
	font-weight: 200 900;
	font-display: swap;
	font-style: normal;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}
	
	* {
		box-sizing: border-box;
	}
	
	*::-webkit-scrollbar {
		width: 4px;
	}
	
	*::-webkit-scrollbar-track {
		@apply bg-transparent
	}
	
	*::-webkit-scrollbar-thumb {
		@apply bg-main-bg
	}
	
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		transition: background-color 5000s ease-in-out 0s;
		border: 2px solid #ffffff;
		-webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.05) inset;
		-webkit-text-fill-color: #ffffff;
	}
	
}

@layer utilities {
	.wrapper {
		max-width: 1700px;
		min-width: 320px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: calc(var(--spacing) / 2);
		padding-right: calc(var(--spacing) / 2);
	}
	
	.grid-container {
		/**
		 * User input values.
		 */
		--grid-layout-gap: calc(var(--spacing) / 2);
		--grid-column-count: 4;
		--grid-item--min-width: 100px;
		
		/**
		 * Calculated values.
		 */
		--gap-count: calc(var(--grid-column-count) - 1);
		--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
		--grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
		
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
		grid-gap: var(--grid-layout-gap);
	}
	
}

@keyframes glow {
	0% {
		fill: rgb(98, 179, 133);
	}
	50% {
		fill: #039341;
	}
	100% {
		fill: rgb(98, 179, 133);
	}
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.25);
	}
}

.font-gabrito {
	font-family: '__Chivo_f189be', '__Chivo_Fallback_f189be', sans-serif;
}

.scale-animation {
	animation: scale 10s infinite;
}

.euCountry {
	position: relative;
	display: block;
	fill: #039341;
	stroke: #ffffff;
}

.euCountry:hover {
	transition: 0.1s;
	fill: rgb(136, 199, 161);
}

.nonEuCountry {
	fill: #cecece;
	stroke: #ffffff;
}

#pl {
	animation: glow 4s infinite;
}
